In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot
import seaborn as sns

In [3]:
df = sns.load_dataset("flights")
df.head()

   year month  passengers
0  1949   Jan         112
1  1949   Feb         118
2  1949   Mar         132
3  1949   Apr         129
4  1949   May         121